a {
  text-decoration: none;
  color: black;
}

.top-cont {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

a:active {
  text-decoration: none;
  // color: black
}

a:focus, a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.top-header {
  text-align: center;
  // padding-top: 10px;
  height: 60px;
}

.top-header h2 {
  padding-top: 15px;
}

