#game {
  display: flex;
  flex-direction: column;
  position: relative;
}

.players-box {
  display: flex;
  // justify-content: space-between
  flex-wrap: wrap;
  margin: 20px 0;
}

.categories-box {
  // display: flex;
  // justify-content: space-between
  // flex-wrap: wrap;
  // margin: 20px 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.track-info {
  display: grid;
  grid-template-columns: auto 5rem;
  grid-gap: 8px;
}

.hide {
  visibility: hidden;
  position: absolute;
  // left: -500px;
}

.center-game {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

 // countdown timer

#countdown {
  position: relative;
  margin: auto;
  // margin-top: 100px;
  height: 40px;
  width: 40px;
  text-align: center;
}

#countdown-number {
  color: #FA2B57;
  display: inline-block;
  line-height: 40px;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: square;
  stroke-width: 4px;
  stroke: #FA2B57;
  fill: none;
  animation: countdown 30s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}

// category guesses

.category-guess-red {
  background: linear-gradient(180deg, #fa2b57, #f7ca2f);
  background-size: cover;
  background-position: center;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 15px;
  cursor: pointer;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
  &.active {
    opacity: 1;
    border: 4px solid white;
  }
}

.category-guess-blue {
  background: linear-gradient(180deg, #00BCD3, #5EAB7F);
  background-size: cover;
  background-position: center;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 15px;
  cursor: pointer;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
  &.active {
    opacity: 1;
    border: 4px solid white;
  }
}

.category-guess-purple {
  background: linear-gradient(180deg, #00BCD3, #5EAB7F);
  background-size: cover;
  background-position: center;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 15px;
  cursor: pointer;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
  &.active {
    opacity: 1;
    border: 4px solid white;
  }
}

.category-guess-yellow {
  background: linear-gradient(180deg, #F7CA2F, #5EAB7F);
  background-size: cover;
  background-position: center;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 15px;
  cursor: pointer;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
  &.active {
    opacity: 1;
    border: 4px solid white;
  }
}

// in game player buttons

.in-game-player-button-Red {
  background: #FA2B57;
  color: white;
  font-weight: 500;
  padding: 8px 35px;
  font-size: 1rem;
  border-radius: 20px;
  // position: relative;
  // min-width: 15rem;
  // max-width: 90vw;
  // width: 80%;
  text-decoration: none;
  // overflow: hidden;
  border: 0;
  cursor: pointer;
  // text-transform: uppercase;
  // letter-spacing: 0.05em;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
  &.active {
    opacity: 1;
    border: 2px solid white;
  }
}

.in-game-player-button-Blue {
  background: #00BCD3;
  color: white;
  font-weight: 500;
  padding: 8px 35px;
  font-size: 1rem;
  border-radius: 20px;
  // position: relative;
  // min-width: 15rem;
  // max-width: 90vw;
  // width: 80%;
  text-decoration: none;
  // overflow: hidden;
  border: 0;
  cursor: pointer;
  // text-transform: uppercase;
  // letter-spacing: 0.05em;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
  &.active {
    opacity: 1;
    border: 2px solid white;
  }
}

.in-game-player-button-white {
  background: white;
  color: black;
  font-weight: 500;
  padding: 8px 35px;
  font-size: 1rem;
  border-radius: 20px;
  // position: relative;
  // min-width: 15rem;
  // max-width: 90vw;
  // width: 80%;
  text-decoration: none;
  // overflow: hidden;
  border: 0;
  cursor: pointer;
  // text-transform: uppercase;
  // letter-spacing: 0.05em;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
  &.active {
    opacity: 1;
    border: 2px solid white;
  }
}

.in-game-player-button-grey {
  // background: white;
  // color: black;
  border: 2px solid gray;
  color: white;
  font-weight: 500;
  padding: 8px 35px;
  font-size: 1rem;
  border-radius: 20px;
  // position: relative;
  // min-width: 15rem;
  // max-width: 90vw;
  // width: 80%;
  text-decoration: none;
  // overflow: hidden;
  border: 0;
  cursor: pointer;
  // text-transform: uppercase;
  // letter-spacing: 0.05em;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
  &.active {
    opacity: 1;
    border: 2px solid white;
  }
}

.in-game-player-button-Yellow {
  background: #F7CA2F;
  color: white;
  font-weight: 500;
  padding: 8px 35px;
  font-size: 1rem;
  border-radius: 20px;
  // position: relative;
  // min-width: 15rem;
  // max-width: 90vw;
  // width: 80%;
  text-decoration: none;
  // overflow: hidden;
  border: 0;
  cursor: pointer;
  // text-transform: uppercase;
  // letter-spacing: 0.05em;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
  &.active {
    opacity: 1;
    border: 2px solid white;
  }
}

.in-game-player-button-Purple {
  background: #BE89E8;
  color: white;
  font-weight: 500;
  padding: 8px 35px;
  font-size: 1rem;
  border-radius: 20px;
  // position: relative;
  // min-width: 15rem;
  // max-width: 90vw;
  // width: 80%;
  text-decoration: none;
  // overflow: hidden;
  border: 0;
  cursor: pointer;
  // text-transform: uppercase;
  // letter-spacing: 0.05em;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
  &.active {
    opacity: 1;
    border: 2px solid white;
  }

}

.in-game-player-button-Green {
  background: #5EAB7F;
  color: white;
  font-weight: 500;
  padding: 8px 35px;
  font-size: 1rem;
  border-radius: 20px;
  // position: relative;
  // min-width: 15rem;
  // max-width: 90vw;
  // width: 80%;
  text-decoration: none;
  // overflow: hidden;
  border: 0;
  cursor: pointer;
  // text-transform: uppercase;
  // letter-spacing: 0.05em;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
  &.active {
    opacity: 1;
    border: 2px solid white;
  }
}



