#confettis {
  height: 50%;
  // position: absolute;
}

.confetti {
  height: 10px;
  width: 10px;
  background: lightgray;
  position: absolute;
  transition: transform .5s linear;
}

span {
  text-shadow: 3px 3px 3px #555;
  font-size:75px;
  color: rgba(5,5,5,0);
  transition: font-size 1s, color 1s;
}
