<div class="home">

  <div class="container">
    <div>
      <%= image_tag "logo.svg", class: "logo"%>
      <h1><b>tunemates.</b></h1>
      <h3>the social music party game!!!</h3>
      <br>
      <br>
      <br>
      <br>

      <div style= "padding-top: 35px;">
        <%= link_to "Let's Play", new_user_session_path, class: 'button-white' %>
      </div>
    </div>
  </div>

</div>
