<div class="container" style="height: 100vh;">
  <div class="top-header">
    <h2>Your categories are...</h2>
  </div>
  <hr>
  <div class="text-center">
    <% @categories.each do |category| %>
      <div>
        <div class=<%= @colours.sample %> >
          <p><%= category.name %></p>
        </div>
      </div>
    <% end %>
    <br>
    <%= link_to "Reshuffle", category_game_path(@game), class: 'btn btn-light' %>
    <%= link_to "Accept and continue", save_categories_game_path(params[:id], category1: @categories.first.id, category2: @categories.second.id ),   method: :post, class: 'btn btn-danger' %>
  </div>


</div>
