<div class="container">
  <% @categories.each do |category| %>
    <p><%= category.name %></p>
  <% end %>
  <%= link_to "Reshuffle", category_game_path(@game), class: 'btn btn-primary' %>
  <%= link_to "Accept and continue", song_selection_game_path(params[:id], category1: @categories.first.id, category2: @categories.second.id ), class: 'btn btn-primary' %>
</div>


