// function refreshForm(innerHTML) {
//   const newSearchForm = document.getElementById('results');
//   newSearchForm.innerHTML = innerHTML;
// }

// function insertResults(spotify_result) {
//   var results = document.getElementById("results");
//   var search_html = `div class="card-song-infos">
//               <h2> ${spotify_result} </h2>
//               <p> ${spotify_result} </p></div>`;
//               // ?????????
//   results.insertAdjacentHTML("beforeend", search_html);
// }

// refreshForm();

// <% @results.each do |result| %>
//   insertResults('result.name');
//   // insertResults('result.artists.first.name');
// <% end %>


