<div class="container">
  <h1>Results</h1>
  <hr>
  <br>

  <% @invited_users.each do |user| %>
    <h2><%= user.nickname %> - <%= user.score %></h2>
    <br>
  <% end %>

  <%= link_to "Go back to dashboard", dashboard_path, class: 'btn btn-primary' %>
</div>
