<div class="container">
  <h1>Name of Game</h1>
  <br>
  <h2>Choose your songs</h2>
  <br>
  <h3>Category1 Name</h3>

  <input type="text" id="search" data-remote=true>

  <ul id="results">
    <li>this should disappear on textinput</li>
    </ul>
  <br>
  <h3>Category2 Name</h3>
  <br>



</div>

