.button-white {
  background: white;
  color: black;
  font-weight: 900;
  padding: 1.25rem 2rem;
  font-size: 1.25rem;
  border-radius: 3.5rem / 100%;
  // position: relative;
  min-width: 15rem;
  max-width: 90vw;
  // overflow: hidden;
  border: 0;
  cursor: pointer;
  // text-transform: uppercase;
  // letter-spacing: 0.05em;
}
