.button-red {
  background: #FA2B57;
  color: white;
  font-weight: 900;
  padding: 1.25rem 2rem;
  font-size: 1.25rem;
  border-radius: 3.5rem / 100%;
  // position: relative;
  // min-width: 15rem;
  // max-width: 90vw;
  width: 100%;
  text-decoration: none;
  // overflow: hidden;
  border: 0;
  cursor: pointer;
  // text-transform: uppercase;
  // letter-spacing: 0.05em;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
   color: white;
  }

}


.button-blue {
  background: #00BCD3;
  color: white;
  font-weight: 900;
  padding: 1.25rem 2rem;
  font-size: 1.25rem;
  border-radius: 3.5rem / 100%;
  // position: relative;
  // min-width: 15rem;
  // max-width: 90vw;
  width: 100%;
  text-decoration: none;
  // overflow: hidden;
  border: 0;
  cursor: pointer;
  // text-transform: uppercase;
  // letter-spacing: 0.05em;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
   color: white;
  }

}

.button-white {
  background: white;
  color: black;
  font-weight: 900;
  padding: 1.25rem 2rem;
  font-size: 1.25rem;
  border-radius: 3.5rem / 100%;
  // position: relative;
  min-width: 15rem;
  max-width: 90vw;
  text-decoration: none;
  // overflow: hidden;
  border: 0;
  cursor: pointer;
  &:hover {
   color: black;
  }
  // text-transform: uppercase;
  // letter-spacing: 0.05em;
}

.button-light-grey {
  background: #C4C4C4;
  color: white;
  font-weight: 900;
  padding: 1.25rem 2rem;
  font-size: 1.25rem;
  border-radius: 3.5rem / 100%;
  // position: relative;
  min-width: 15rem;
  max-width: 90vw;
  text-decoration: none;
  // overflow: hidden;
  border: 0;
  cursor: pointer;
  // text-transform: uppercase;
  // letter-spacing: 0.05em;
}

.button-white-home-1 {
  background: white;
  color: #fa2b57;
  font-weight: 900;
  padding: 1.25rem 2rem;
  font-size: 1.25rem;
  border-radius: 3.5rem / 100%;
  // position: relative;
  min-width: 15rem;
  max-width: 90vw;
  text-decoration: none;
  // overflow: hidden;
  border: 0;
  cursor: pointer;
  &:hover {
    color: #fa2b57;
  }
  // text-transform: uppercase;
  // letter-spacing: 0.05em;
}

.button-white-home-2 {
  background: white;
  color: #F7CA2F;
  font-weight: 900;
  padding: 1.25rem 2rem;
  font-size: 1.25rem;
  border-radius: 3.5rem / 100%;
  // position: relative;
  min-width: 15rem;
  max-width: 90vw;
  text-decoration: none;
  // overflow: hidden;
  border: 0;
  cursor: pointer;
  &:hover {
    color: #F7CA2F;
  }
  // text-transform: uppercase;
  // letter-spacing: 0.05em;
}

.button-white-home-3 {
  background: white;
  color: #5EAB7F;
  font-weight: 900;
  padding: 1.25rem 2rem;
  font-size: 1.25rem;
  border-radius: 3.5rem / 100%;
  // position: relative;
  min-width: 15rem;
  max-width: 90vw;
  text-decoration: none;
  // overflow: hidden;
  border: 0;
  cursor: pointer;
  &:hover {
   color: #5EAB7F;
  }
  // text-transform: uppercase;
  // letter-spacing: 0.05em;
}

.button-white-home-4 {
  background: white;
  color: #00BCD3;
  font-weight: 900;
  padding: 1.25rem 2rem;
  font-size: 1.25rem;
  border-radius: 3.5rem / 100%;
  // position: relative;
  min-width: 15rem;
  max-width: 90vw;
  text-decoration: none;
  // overflow: hidden;
  border: 0;
  cursor: pointer;
  &:hover {
    color: #00BCD3;
  }
  // text-transform: uppercase;
  // letter-spacing: 0.05em;
}

.button-grey {
  // background: white;
  color: black;
  border: 2px solid gray;
  font-weight: 900;
  // padding: 1.25rem 2rem;
  font-size: 0.25rem;
  border-radius: 25px;
  text-align: center;
  // position: relative;
  min-width: 5rem;
  max-width: 90vw;
  text-decoration: none;
  // overflow: hidden;
  cursor: pointer;
  &:hover {
    color: black;
  }
  // text-transform: uppercase;
  // letter-spacing: 0.05em;
}

.button-yellow {
  background: #F7CA2F;
  color: white;
  font-weight: 700;
  padding: 1.25rem 2rem;
  font-size: 1rem;
  border-radius: 3.5rem / 100%;
  // position: relative;
  // min-width: 15rem;
  // max-width: 90vw;
  width: 80%;
  text-decoration: none;
  // overflow: hidden;
  border: 0;
  cursor: pointer;
  // text-transform: uppercase;
  // letter-spacing: 0.05em;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
   &:hover {
    color: white;
  }
}

.btn-danger {
  &:hover{
    color: white !important;
    background: #FA2B57 !important;
  }
}

