.player-button-Red {
  background: #FA2B57;
  color: white;
  font-weight: 500;
  padding: 8px 35px;
  font-size: 1rem;
  border-radius: 20px;
  // position: relative;
  // min-width: 15rem;
  // max-width: 90vw;
  // width: 80%;
  text-decoration: none;
  // overflow: hidden;
  border: 0;
  cursor: pointer;
  // text-transform: uppercase;
  // letter-spacing: 0.05em;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
    color: white !important;
  }
}

.player-button-Blue {
  background: #00BCD3;
  color: white;
  font-weight: 500;
  padding: 8px 35px;
  font-size: 1rem;
  border-radius: 20px;
  // position: relative;
  // min-width: 15rem;
  // max-width: 90vw;
  // width: 80%;
  text-decoration: none;
  // overflow: hidden;
  border: 0;
  cursor: pointer;
  // text-transform: uppercase;
  // letter-spacing: 0.05em;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
    color: white !important;
  }
}

.player-button-white {
  background: white;
  color: black;
  font-weight: 500;
  padding: 8px 35px;
  font-size: 1rem;
  border-radius: 20px;
  // position: relative;
  // min-width: 15rem;
  // max-width: 90vw;
  // width: 80%;
  text-decoration: none;
  // overflow: hidden;
  border: 0;
  cursor: pointer;
  // text-transform: uppercase;
  // letter-spacing: 0.05em;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
    color: white !important;
  }
}

.player-button-grey {
  // background: white;
  // color: black;
  border: 2px solid gray;
  color: white;
  font-weight: 500;
  padding: 8px 35px;
  font-size: 1rem;
  border-radius: 20px;
  // position: relative;
  // min-width: 15rem;
  // max-width: 90vw;
  // width: 80%;
  text-decoration: none;
  // overflow: hidden;
  border: 0;
  cursor: pointer;
  // text-transform: uppercase;
  // letter-spacing: 0.05em;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
    color: white !important;
  }
}

.player-button-Yellow {
  background: #F7CA2F;
  color: white;
  font-weight: 500;
  padding: 8px 35px;
  font-size: 1rem;
  border-radius: 20px;
  // position: relative;
  // min-width: 15rem;
  // max-width: 90vw;
  // width: 80%;
  text-decoration: none;
  // overflow: hidden;
  border: 0;
  cursor: pointer;
  // text-transform: uppercase;
  // letter-spacing: 0.05em;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
    color: white !important;
  }
}

.player-button-Purple {
  background: #BE89E8;
  color: white;
  font-weight: 500;
  padding: 8px 35px;
  font-size: 1rem;
  border-radius: 20px;
  // position: relative;
  // min-width: 15rem;
  // max-width: 90vw;
  // width: 80%;
  text-decoration: none;
  // overflow: hidden;
  border: 0;
  cursor: pointer;
  // text-transform: uppercase;
  // letter-spacing: 0.05em;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
    color: white !important;
  }
}

.player-button-Green {
  background: #5EAB7F;
  color: white;
  font-weight: 500;
  padding: 8px 35px;
  font-size: 1rem;
  border-radius: 20px;
  // position: relative;
  // min-width: 15rem;
  // max-width: 90vw;
  // width: 80%;
  text-decoration: none;
  // overflow: hidden;
  border: 0;
  cursor: pointer;
  // text-transform: uppercase;
  // letter-spacing: 0.05em;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
    color: white !important;
  }
}


