function insertNickname(nickname) {
  var container = document.querySelector(".nicknames");
  var html = `<div><p><span class=<%= @colours.sample %>> ${nickname}</span><p></div>`;
  container.insertAdjacentHTML("beforeend", html);
}

<% @game.invited_users.each do |user| %>

  insertNickname('<%= user.nickname %>');
<% end %>


