function insertNickname(nickname) {
  var container = document.querySelector(".nicknames");
  var html = `<div><p><span class="player-button-<%= user.user.color %>"> ${nickname}</span><p></div>`;
  container.insertAdjacentHTML("beforeend", html);
}

<% @game.invited_users.each do |user| %>

  insertNickname('<%= user.nickname %>');
<% end %>


